.ent{
    text-align: center;
    color: white;
    border-color: yellow;
}
.est{
    color: white; 
    border-color: green; 
    font-size: 15px;
}

.e{
    text-align: center;
    color: white; 
}

.e2{
    text-align: center;
    color: white; 
}
